<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>JWizard</title>
    <meta
      name="keywords"
      content="jwizard, discord bot, discord, music, music bot, music player"
    />
    <meta
      name="description"
      content="Multi-purpose Discord music bot. Supplied an original playlists system for saving and playing them on any guild."
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="format-detection" content="telephone=no" />
    <!-- start OpenGraph:SEO -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%- basePath %>" />
    <meta property="og:title" content="JWizard" />
    <meta
      property="og:description"
      content="Multi-purpose Discord music bot. Supplied an original playlists system for saving and playing them on any guild."
    />
    <meta property="og:image" content="/og-banner.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%- basePath %>" />
    <meta property="twitter:title" content="JWizard" />
    <meta
      property="twitter:description"
      content="Multi-purpose Discord music bot. Supplied an original playlists system for saving and playing them on any guild."
    />
    <meta property="twitter:image" content="/og-banner.png" />
    <!-- end OpenGraph:SEO -->
    <!-- start PWA -->
    <link
      rel="apple-touch-icon"
      sizes="48x48"
      href="/pwa/icon/pwa-icon-48x48.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/pwa/icon/pwa-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="96x96"
      href="/pwa/icon/pwa-icon-96x96.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="128x128"
      href="/pwa/icon/pwa-icon-128x128.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/pwa/icon/pwa-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/pwa/icon/pwa-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/pwa/icon/pwa-icon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="384x384"
      href="/pwa/icon/pwa-icon-384x384.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="512x512"
      href="/pwa/icon/pwa-icon-512x512.png"
    />
    <link id="manifest" rel="manifest" href="/manifest.json" />
    <!-- end PWA -->
    <!-- start GF -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&display=swap"
      rel="stylesheet"
    />
    <!-- end of GF -->
    <script type="text/javascript">
      window.API_URL = '<%- apiUrl %>';
      window.INVITE_LINK = '<%- inviteLink %>';
      window.ORG_LINK = '<%- orgLink %>';
    </script>
  </head>
  <body class="antialiased">
    <noscript>
      To use this app you must enabled JavaScript in your browser.
    </noscript>
    <div id="vue-mount"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
