:8080 {
  root * /app/jww-d
  encode gzip zstd

  handle /globals.js {
    header Content-Type "application/javascript"
    header Cache-Control "no-store, no-cache, must-revalidate"

    respond "window.jw = {
      JWIZARD_CANONICAL_URL: \"{$JWIZARD_CANONICAL_URL}\",
      JWIZARD_LANDING_PAGE_URL: \"{$JWIZARD_LANDING_PAGE_URL}\",
      JWIZARD_ANALYTICS_UMAMI_URL: \"{$JWIZARD_ANALYTICS_UMAMI_URL}\",
      JWIZARD_ANALYTICS_UMAMI_WEBSITE_ID: \"{$JWIZARD_ANALYTICS_UMAMI_WEBSITE_ID}\"
    };" 200
  }

  handle /api/* {
    reverse_proxy {$JWIZARD_API_URL}
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}
