:8080 {
  root * /app/jww-d
  encode gzip zstd

  handle /globals.js {
    templates
    respond "window.globals = { \
      JWIZARD_CANONICAL_URL: '{$JWIZARD_CANONICAL_URL}', \
      JWIZARD_LANDING_PAGE_URL: '{$JWIZARD_LANDING_PAGE_URL}', \
      JWIZARD_ANALYTICS_UMAMI_URL: '{$JWIZARD_ANALYTICS_UMAMI_URL}', \
      JWIZARD_ANALYTICS_UMAMI_WEBSITE_ID: '{$JWIZARD_ANALYTICS_UMAMI_WEBSITE_ID}', \
    };" 200 {
      headers {
        Content-Type "application/javascript"
        Cache-Control "no-store, no-cache, must-revalidate"
      }
    }
  }

  handle /api/* {
    reverse_proxy {$JWIZARD_API_URL}
  }

  handle {
    file_server
    try_files {path} /index.html
  }
}
